@font-face {
  font-family: $karla-b;
  src: font-url('Karla/Karla-Bold.woff2') format('woff2'),
  font-url('Karla/Karla-Bold.woff') format('woff'),
  font-url('Karla/Karla-Bold.ttf') format('truetype');
}
@font-face {
  font-family: $karla-b-i;
  src: font-url('Karla/Karla-BoldItalic.woff2') format('woff2'),
  font-url('Karla/Karla-BoldItalic.woff') format('woff'),
  font-url('Karla/Karla-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: $karla-i;
  src: font-url('Karla/Karla-Italic.woff2') format('woff2'),
  font-url('Karla/Karla-Italic.woff') format('woff'),
  font-url('Karla/Karla-Italic.ttf') format('truetype');
}
@font-face {
  font-family: $karla-r;
  src: font-url('Karla/Karla-Regular.woff2') format('woff2'),
  font-url('Karla/Karla-Regular.woff') format('woff'),
  font-url('Karla/Karla-Regular.ttf') format('truetype');
}

@font-face {
  font-family: $mont-bl;
  src: font-url('Montserrat/Montserrat-Black.woff2') format('woff2'),
  font-url('Montserrat/Montserrat-Black.woff') format('woff'),
  font-url('Montserrat/Montserrat-Black.ttf') format('truetype');
}
@font-face {
  font-family: $mont-bl-i;
  src: font-url('Montserrat/Montserrat-BlackItalic.woff2') format('woff2'),
  font-url('Montserrat/Montserrat-BlackItalic.woff') format('woff'),
  font-url('Montserrat/Montserrat-BlackItalic.ttf') format('truetype');
}
@font-face {
  font-family: $mont-b;
  src: font-url('Montserrat/Montserrat-Bold.woff2') format('woff2'),
  font-url('Montserrat/Montserrat-Bold.woff') format('woff'),
  font-url('Montserrat/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: $mont-b-i;
  src: font-url('Montserrat/Montserrat-BoldItalic.woff2') format('woff2'),
  font-url('Montserrat/Montserrat-BoldItalic.woff') format('woff'),
  font-url('Montserrat/Montserrat-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: $mont-e-b;
  src: font-url('Montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
  font-url('Montserrat/Montserrat-ExtraBold.woff') format('woff'),
  font-url('Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: $mont-e-b-i;
  src: font-url('Montserrat/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
  font-url('Montserrat/Montserrat-ExtraBoldItalic.woff') format('woff'),
  font-url('Montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: $mont-i;
  src: font-url('Montserrat/Montserrat-Italic.woff2') format('woff2'),
  font-url('Montserrat/Montserrat-Italic.woff') format('woff'),
  font-url('Montserrat/Montserrat-Italic.ttf') format('truetype');
}
@font-face {
  font-family: $mont-l;
  src: font-url('Montserrat/Montserrat-Light.woff2') format('woff2'),
  font-url('Montserrat/Montserrat-Light.woff') format('woff'),
  font-url('Montserrat/Montserrat-Light.ttf') format('truetype');
}
@font-face {
  font-family: $mont-l-i;
  src: font-url('Montserrat/Montserrat-LightItalic.woff2') format('woff2'),
  font-url('Montserrat/Montserrat-LightItalic.woff') format('woff'),
  font-url('Montserrat/Montserrat-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: $mont-e-l;
  src: font-url('Montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
  font-url('Montserrat/Montserrat-ExtraLight.woff') format('woff'),
  font-url('Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: $mont-e-l-i;
  src: font-url('Montserrat/Montserrat-ExtraLightItalic.woff2') format('woff2'),
  font-url('Montserrat/Montserrat-ExtraLightItalic.woff') format('woff'),
  font-url('Montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
  font-family: $mont-m;
  src: font-url('Montserrat/Montserrat-Medium.woff2') format('woff2'),
  font-url('Montserrat/Montserrat-Medium.woff') format('woff'),
  font-url('Montserrat/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
  font-family: $mont-m-i;
  src: font-url("Montserrat/Montserrat-MediumItalic.woff2") format('woff2'),
  font-url("Montserrat/Montserrat-MediumItalic.woff") format('woff'),
  font-url("Montserrat/Montserrat-MediumItalic.ttf") format('truetype');
}
@font-face {
  font-family: $mont-r;
  src: font-url("Montserrat/Montserrat-Regular.woff2") format('woff2'),
  font-url("Montserrat/Montserrat-Regular.woff") format('woff'),
  font-url("Montserrat/Montserrat-Regular.ttf") format('truetype');
}
@font-face {
  font-family: $mont-sb;
  src: font-url("Montserrat/Montserrat-SemiBold.woff2") format('woff2'),
  font-url("Montserrat/Montserrat-SemiBold.woff") format('woff'),
  font-url("Montserrat/Montserrat-SemiBold.ttf") format('truetype');
}
@font-face {
  font-family: $mont-sb-i;
  src: font-url("Montserrat/Montserrat-SemiBoldItalic.woff2") format('woff2'),
  font-url("Montserrat/Montserrat-SemiBoldItalic.woff") format('woff'),
  font-url("Montserrat/Montserrat-SemiBoldItalic.ttf") format('truetype');
}
@font-face {
  font-family: $mont-th;
  src: font-url("Montserrat/Montserrat-Thin.woff2") format('woff2'),
  font-url("Montserrat/Montserrat-Thin.woff") format('woff'),
  font-url("Montserrat/Montserrat-Thin.ttf") format('truetype');
}
@font-face {
  font-family: $mont-th-i;
  src: font-url("Montserrat/Montserrat-ThinItalic.woff2") format("woff2"),
  font-url("Montserrat/Montserrat-ThinItalic.woff") format("woff"),
  font-url("Montserrat/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

}
//Icons
@font-face {
  font-family: $care;
  src:  font-url('icomoon.eot?i58kgm');
  src:  font-url('icomoon.eot?i58kgm#iefix') format('embedded-opentype'),
  font-url('icomoon.ttf?i58kgm') format('truetype'),
  font-url('icomoon.woff?i58kgm') format('woff'),
  font-url('icomoon.svg?i58kgm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $care !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
  color: #fff;
  transform: rotate(180deg);
  display: inline-block;
}
.icon-arrow-right:before {
  content: "\e901";
  color: #fff;
}
.icon-calendar:before {
  content: "\e903";
  color: #f46508;
}
.icon-check:before {
  content: "\e904";
  color: #f46508;
}
.icon-chevron-left:before {
  content: "\e906";
  color: #f46508;
  transform: rotate(180deg);
  display: inline-block;
}
.icon-chevron-right:before {
  content: "\e907";
  color: #f46508;
}
.icon-chevron-down:before {
  content: "\E906";
  color: #f46508;
  transform: rotate(90deg);
  display: inline-block;
}
.icon-circle:before {
  content: "\e908";
  color: #e77800;
}
.icon-close-bold:before {
  content: "\e909";
  color: #fff;
}
.icon-facebook:before {
  content: "\e90b";
  color: #fff;
}
.icon-flag:before {
  content: "\e90c";
  color: #f46508;
}
.icon-grid:before {
  content: "\e90d";
  color: #fff;
}
.icon-instagram:before {
  content: "\e90e";
  color: #fff;
}
.icon-minus:before {
  content: "\e911";
  color: #f46508;
}
.icon-notebook:before {
  content: "\e912";
  color: #f46508;
}
.icon-play:before {
  content: "\e913";
  color: #fff;
}
.icon-plus-circle:before {
  content: "\e914";
  color: #f46508;
}
.icon-plus:before {
  content: "\e915";
  color: #f46508;
}
.icon-search:before {
  content: "\e916";
  color: #f46508;
}
.icon-toggle:before {
  content: "\e917";
  color: #fff;
}
.icon-triangle:before {
  content: "\e918";
  color: #f46508;
}
.icon-twitter:before {
  content: "\e919";
  color: #fff;
}
.icon-world-map:before {
  content: "\e91b";
  color: #f46508;
}
.icon-zoom:before {
  content: "\e91c";
}
